*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: #fff;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}
input{
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background: #000;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px -5px #fff;
}

.price input{
    width: 20%;
}
#total{
    background: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: "Total :  ";
}
button{
    width: 100%;
    height: 35px;
    border: none;
    cursor: pointer;
    background: #390053;
    color: #fff;
    border-radius: 20px;
    transition: .5s;
    margin: 10px 0;
}
button:hover{
    background: #51025f;
    letter-spacing: 1px;
    box-shadow: 8px 8px 8px -8px #fff;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#deleteall{
    margin: 20px 0;
}